<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather-logo.png">

    <link rel="stylesheet" href="/css/style.css">
    
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img src="./img/robot.png" alt="Not Supported" class="portrait">
    </div>
    
    {{>footer}}
    {{!-- <p>Creator: {{name}}</p> --}}
  </body>
</html>